<!doctype html>
<html lang="en">

<head>
</head>
{% load static %}
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'Icons/font/bootstrap-icons.min.css'%}" rel="stylesheet">

<body>


  <div class="container">
    {%include "barramenu.html"%}
    <div class="row mt-2">
      <div class="col-1"></div>

      <div class="col-9">
        <div class="card" style="width:900px">
          <div class="card-body">
            <form action="/almadd/{{invcontSW}}" method="get">
              <div class="row">
                <div class="col-5">
                  <label for="descripcion">Articulo: </label>
                  {{formalSW.descripcionf}} <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#listado"><i class="bi bi-search"></i></button>
                  <!-- Modal -->

                  <div class="modal fade" id="listado" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Listado de árticulos</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtrar por descripción">
                          <hr>
                          <table class="table table-striped table-hover table-sm" id="myTable">
                            {%for listadoSW in listadoSW%}
                            <tr>
                              <td>{{listadoSW.descripcion}}</td>
                              <td class="col-1 text-center"><button type="button" class="btn btn-success btn-sm"
                                  onclick="actua('{{listadoSW.descripcion}}');" data-bs-dismiss="modal"><i
                                    class="bi bi-bag-check-fill"></i></button></td>
                            </tr>
                            {%endfor%}
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"> Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->

                </div>
                <div class="col-2">
                  <label for="cantidad">Cantidad:</label>
                  {{formalSW.cantidadf}}
                </div>
                <div class="col-2">
                  <label for="compra">$.de compra:</label>
                  {{formalSW.presiocf}}
                </div>
                <div class="col-2">
                  <label for="venta">$.de venta:</label>
                  {{formalSW.presiobf}}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-4 float-left">
                  <input type="submit" class="btn btn-success btn-sm float-rigth" value=" Adicionar ">
                  <a href="/indexalm/{{invcontSW}}/0" button class="btn btn-danger btn-sm float-rigth">Cancelar</a>
                </div>

              </div>

            </form>

          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="row mt-1">
      <div class="col-1"></div>

      <div class="col-9">
        <div class="card" style="width:900px">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                {%include "paginador.html"%}
              </div>
              <div class="col-4 mt-1">
                <h3>{{inverSW.fecha}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card" style="width:900px">
          <div class="card-body">
            <table class="table table-striped table-hover table-sm">
              <tr>
                <td>
                  <table>
                    <thead class="thead-dark">
                      <tr>
                        <td width="410">Articulo</td>
                        <td width="95">Cantidad</td>
                        <td width="110">$. de compra</td>
                        <td>$. de venta</td>
                        <td></td>
                      </tr>
                    </thead>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="width:855px; height:260px; overflow:auto;">
                    <table class="table table-striped table-hover table-sm">
                      <tbody>
                        {%for almaSW in almaSW%}
                        <tr>
                          <td width="410">{{almaSW.descripcion}}</td>
                          <td width="95">{{almaSW.cantidad}}</td>
                          <td width="110">{{almaSW.presioc}}</td>
                          <td class="">{{almaSW.presiob}}</td>
                          <td><button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                              data-bs-target="#exampleModal" data-inv={{invcontSW}} data-id={{almaSW.id}}
                              data-des='{{almaSW.descripcion}}'><i class="bi bi-trash"></i></button></td>

                          <!-- Modal -->

                          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">SED</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">

                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Modal -->
                        </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-1"></div>

    </div>
  </div>

  <script src="{%static 'theme.js'%}"></script>
  <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'color-modes.js'%}"></script>


  <script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget

      var id = button.getAttribute('data-id')
      var inver = button.getAttribute('data-inv')
      var descrip = button.getAttribute('data-des')

      var modalTitle = exampleModal.querySelector('.modal-title')
      var modalBody = exampleModal.querySelector('.modal-body')
      var modalfooter = exampleModal.querySelector('.modal-footer')


      modalTitle.textContent = "Eliminar articulo"
      modalBody.textContent = 'Decea eliminar el articulo: ' + descrip
      modalfooter.innerHTML = '<a href="/almadel/' + inver + '/' + id + '" button type=button class="btn btn-danger">Eliminar</a>' + '<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>'
    })

  </script>

  <script>
    function myFunction() {
      // Declare variables 
      var input, filter, table, tr, td, i, j, visible;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        visible = false;
        /* Obtenemos todas las celdas de la fila, no sólo la primera */
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            visible = true;
          }
        }
        if (visible === true) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  </script>


  <script>
    function actua(dato1) {
      document.getElementById('id_descripcionf').value = dato1;
    }
  </script>




</body>

</html>