<!doctype html>
<html lang="es">

<head>
  <title>Inversiones</title>
</head>
{% load static %}
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'Icons/font/bootstrap-icons.min.css'%}" rel="stylesheet">

<body>


  <div class="container">
    {%include "barramenu.html"%}
    <div class="container">
      <div class="container">
        {%if editSW == "noedit"%}
        <div class="row mt-2">
          <div class="col-1"></div>
          <div class="col-9">
            <div class="card" style="width:900px">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <a href="/indexinv/add/0" button class="btn btn-primary" type="button">Adicionar
                      Inversión</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        {%endif%}

        {%if editSW == "add" %}
        <div class="row mt-1">
          <div class="col-1"></div>
          <div class="col-9">
            <div class="card" style="width:900px">
              <div class="card-body">
                <form class="form-inline" action="/invadd" method="get">
                  <div class="row">
                    <div class="col-1 mt-2">
                      <label for="fecha"> Fecha:</label>
                    </div>
                    <div class="col-3">
                      {{formSW.fechaf}}
                    </div>
                    <div class="col-3 mt-1">
                      <input type="submit" class="btn btn-success btn-sm float-rigth" value=" Adicionar ">
                      <a href="/indexinv/noedit/0" button class="btn btn-danger btn-sm float-rigth">Cancelar</a>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        {%elif editSW == "edit" %}
        <div class="row mt-1">
          <div class="col-1"></div>
          <div class="col-9">
            <div class="card" style="width:900px">
              <div class="card-body">
                <form class="form-inline" action="/invupdate/{{invuSW.id}}" method="get">
                  <div class="row">
                    <div class="col-1 mt-2">
                      <label for="fecha"> Fecha:</label>
                    </div>
                    <div class="col-3">
                      {{formSW.fechaf}}
                    </div>
                    <div class="col-3 mt-1">
                      <input type="submit" class="btn btn-success btn-sm float-rigth" value=" Actualizar ">
                      <a href="/indexinv/noedit/0" button class="btn btn-danger btn-sm float-rigth">Cancelar</a>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>

        {%endif%}

        <div class="row mt-1">
          <div class="col-1"></div>
          <div class="col-9">
            <div class="card" style="width:900px">

              <div class="card-body">
                <table class="table table-striped table-hover table-sm">
                  <tr>
                    <td>
                      <table>
                        <thead class="thead-dark btn-danger">
                          <tr>
                            <td width="220">Fecha inversión</td>
                            <td width="150">$ Total inversión</td>
                            <td width="110">$ Total venta</td>
                            <td>$ Ganancia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </thead>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div style="width:855px; height:410px; overflow:auto;">
                        <table class="table table-striped table-hover table-sm">
                          <tbody>
                            {%for invertSW in invertSW%}
                            <tr>
                              <td width="220">{{invertSW.fecha}}</td>
                              <td width="150">{{invertSW.montoinver}}</td>
                              <td width="110">{{invertSW.montoganancia}}</td>
                              <td width="180">{{invertSW.libre}}</td>
                              <td><a href="/indexalm/{{invertSW.id}}/0" button class="btn btn-primary btn-sm"><i
                                    class="bi bi-bag-check-fill">
                                  </i>Articulos</a>
                              </td>
                              <td><a href="/indexinv/edit/{{invertSW.id}}" button type="button"
                                  class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a>
                              </td>
                              <td><button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                  data-bs-target="#exampleModal" data-id={{invertSW.id}}
                                  data-fecha="{{invertSW.fecha}}"><i class="bi bi-trash"></i></button>
                              </td>
                              <div class="modal fade" id="exampleModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Eliminar articulo</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                      <div id="del"></div>
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cerrar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </tr>

                            {%endfor%}
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>




  <script src="{%static 'theme.js'%}"></script>
  <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'color-modes.js'%}"></script>


  <script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var id = button.getAttribute('data-id')
      var fecha = button.getAttribute('data-fecha')

      var modalTitle = exampleModal.querySelector('.modal-title')
      var modalBody = exampleModal.querySelector('.modal-body')
      var modalfooter = exampleModal.querySelector('.modal-footer')

      //modalTitle.textContent = 'New message to ' + recipient
      modalTitle.textContent = 'Eliminar articulo'
      modalBody.textContent = 'Se dispone a eliminar la inversión con fecha : ' + fecha
      modalfooter.innerHTML = '<a href="/invdell/' + id + '" button type=button class="btn btn-danger">Eliminar</a>' + '<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>'


    })

  </script>

  <!-- <script>
    const myOffcanvas = document.getElementById('offcanvasedit')
    myOffcanvas.addEventListener('show.bs.offcanvas', event => {
      var button = event.relatedTarget
      var fecha = button.getAttribute('data-fecha')
      var valor = button.getAttribute('data-valor')
      document.getElementById('id_fechaf').value = fecha;
      document.getElementById('id_montoinvf').value = valor;
    })
  </script>
-->




</body>

</html>