<!doctype html>
<html lang="es">


<head>
  <title>Existencia en almacen</title>
</head>
{% load static %}
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'Icons/font/bootstrap-icons.min.css'%}" rel="stylesheet">




<body>
  <div class="container">
    {%include "barramenu.html"%}
    <div class="container">
      <div class="container">
        <div class="row mt-2">
          <div class="col-1"></div>


          <div class="col-9">
            <div class="card" style="width:900px">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <h3>Estado de las inversiones</h3>
                  </div>
                  <div class="col-7">
                    <!-- {%include "paginador.html"%}-->
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="card" style="width:900px">
              <div class="card-body">

                <table class="table table-striped table-hover table-sm table-fixed">
                  <tr>
                    <td>
                      <table>
                        <thead class="thead-dark">
                          <tr>
                            <td width="220">Inversión</td>
                            <td width="130">$Total inversión</td>
                            <td width="110">$Total Venta</td>
                            <td width="100">$Ganancia</td>
                            <td width="115">$Real vendido</td>
                            <td class="text-center" width="60"> ( % ) </td>
                            <td>$Dif. de venta</td>
                          </tr>
                        </thead>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div style="width:855px; height:380px; overflow:auto;">
                        <table class="table table-striped table-hover table-sm table-fixed" id="myTable">
                          <tbody>
                            {%for invertSW in invertSW%}
                            <tr>
                              <td width="260">{{invertSW.fecha}}</td>
                              <td width="130">{{invertSW.montoinver}}</td>
                              <td class="table-success" width="120">{{invertSW.montoganancia}}</td>
                              <td width="110">{{invertSW.libre}}</td>
                              <td class="table-success" width="100">{{invertSW.cant}}</td>
                              <td class="table-danger text-center" width="80">({{invertSW.por}} %)</td>
                              <td width="120">{{invertSW.dif}}</td>
                            </tr>
                            {%endfor%}

                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-1"></div>

        </div>
      </div>
    </div>
  </div>

  <script>
    function myFunction() {
      // Declare variables 
      var input, filter, table, tr, td, i, j, visible;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        visible = false;
        /* Obtenemos todas las celdas de la fila, no sólo la primera */
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            visible = true;
          }
        }
        if (visible === true) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  </script>



  <script src="{%static 'theme.js'%}"></script>
  <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'color-modes.js'%}"></script>


</body>


</html>