{% load static %}
<nav class="navbar navbar-expand-lg bg-success" aria-label="Fifth navbar example">

  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static '/file.jpeg'%}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
      Cosmetic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
      aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="btn-group">
            <a button type="button" class="btn btn-outline-light" href="/indexinv/noedit/0"><i
                class="bi bi-currency-dollar" width="32" height="32"></i> Inversiones</a>
            <!--<a class="nav-link active" aria-current="page" href="/indexinv/noedit/0">Inversiones</a>-->
            <a button type="button" class="btn btn-outline-light" href="/listalmacen"><i class="bi bi-box2-heart"
                width="32" height="32"></i> Almacen
              <!--<a class="nav-link active position-relative" aria-current="page" href="/listalmacen">Almacen-->
              <span class="badge badge-pill badge-danger text-dark">{{conal}}</span>
            </a>

            <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Operaciones

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ventas</a></li>
                <li><a class="dropdown-item" href="#">Devolución</a></li>
                <li><a class="dropdown-item" href="#">Mermas</a></li>
              </ul>

            </button>
          </div>
        </li>


        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Operaciones</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ventas</a></li>
            <li><a class="dropdown-item" href="#">Devolución</a></li>
            <li><a class="dropdown-item" href="#">Mermas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Reportes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">reporte1</a></li>
            <li><a class="dropdown-item" href="#">reporte2</a></li>
            <li><a class="dropdown-item" href="#">REPORTE3</a></li>
          </ul>
        </li>
      -->
      </ul>

      <form role="search">
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
      </form>
      {%include "temas.html"%}
    </div>
  </div>
</nav>